*.iml
.gradle
/local.properties
.idea
.idea/
/.idea
./idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build.gradle.kts
/app/google-services.json
/app/release
/PlayStoreAssets
.kotlin
.idea/deploymentTargetSelector.xml
.idea/gradle.xml
app/src/main/assets/databases/chinese_words.db-shm
app/src/main/assets/databases/chinese_words.db-wal
*.jks
*.pem
.vscode
logs/*
*.xcuserstate
*.xcbkptlist
/iosApp/hskwidget/GoogleService-Info.plist
/iosApp/Pods
build/
google-services.json
crossPlatform/test_datastore_*
/iosApp/hskwidget.xcworkspace/
/iosApp/GoogleService-Info.plist
/androidApp/release/androidApp-release.aab

/backups/
.direnv/

/iosApp/hskwidget/databases/*
/crossPlatform/src/androidMain/assets/databases/*