*.iml
.gradle
/local.properties
.idea
.idea/
/.idea
./idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build.gradle.kts
/app/google-services.json
/app/release
/PlayStoreAssets
.kotlin
.idea/deploymentTargetSelector.xml
.idea/gradle.xml
app/src/main/assets/databases/chinese_words.db-shm
app/src/main/assets/databases/chinese_words.db-wal
