*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build.gradle.kts
/app/google-services.json
/app/release
/PlayStoreAssets
.kotlin
/.idea/AndroidProjectSystem.xml
