[submodule "app/src/main/java/thirdparty/Pittvandewitt/PreferenceDataStoreBridge"]
	path = app/src/main/java/thirdparty/Pittvandewitt/PreferenceDataStoreBridge
	url = https://gist.github.com/Pittvandewitt/c7c620412ec246e34824647a3a4605d0
[submodule "database_generation/new_hsk"]
	path = database_generation/new_hsk
	url = https://github.com/krmanik/HSK-3.0/
[submodule "googledrivebackup"]
	path = googledrivebackup
	url = https://github.com/licryle/GoogleDriveBackUp.git
    branch = main
[submodule "pinyin4kot"]
	path = pinyin4kot
	url = https://github.com/licryle/Pinyin4Kot.git
    branch = main
[submodule "AnkiDroidAPIHelper"]
	path = AnkiDroidAPIHelper
	url = https://github.com/licryle/AnkiDroidAPIHelper.git
    branch = master
